# Procesamiento en python acerca del Dataframe 3:
# Elenco y popularidad (Elenco.csv y popularidad.csv)

In [18]:
# Importar librer√≠as necesarias

import pandas as pd
import numpy as np
import plotly as pl
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msmo
from statistics import multimode, mean, median
import math

# Importar datos de los archivos .csv

In [19]:
df_elenco = pd.read_csv("..\\dataset\\elenco.csv", index_col=0)
df_popularidad = pd.read_csv("..\\dataset\\popularidad.csv", index_col=0)

In [20]:
df_elenco.head()

                     title  total_actors
film_id
508       lambs cincinatti            15
87       boondock ballroom            13
146            chitty lock            13
188             crazy home            13
249        dracula crystal            13

In [21]:
df_popularidad.head()

               full_name  film_participations
actor_id
107       gina degeneres                   42
102          walter torn                   41
198          mary keitel                   40
181       matthew carrey                   39
23         sandra kilmer                   37

In [22]:
df_popularidad.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 107 to 148
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   full_name            200 non-null    object
 1   film_participations  200 non-null    int64
dtypes: int64(1), object(1)
memory usage: 4.7+ KB

In [23]:
df_elenco.info()

<class 'pandas.core.frame.DataFrame'>
Index: 997 entries, 508 to 995
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         997 non-null    object
 1   total_actors  997 non-null    int64
dtypes: int64(1), object(1)
memory usage: 23.4+ KB

# Vemos que no hay valores nulos

In [24]:
df_elenco.isna().sum()

title           0
total_actors    0
dtype: int64

In [25]:
df_popularidad.isna().sum()

full_name              0
film_participations    0
dtype: int64

# Creamos copias de los datasets

In [26]:
df_popularidad_copy = df_popularidad.copy()
df_elenco_copy = df_elenco.copy()