# Procesamiento en Python acerca del Dataframe 2: Catálogo de películas (catalogo_peliculas.csv)

In [3]:
# Importar librerías necesarias

import pandas as pd
import numpy as np
import plotly as pl
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msmo

## Importar datos del archivo .csv

In [6]:
df = pd.read_csv("../dataset/catalogo_peliculas.csv", index_col=0)
df.head(10)

,title,film_duration,description,special_features,rating,rental_duration,rental_rate,replacement_cost,language,category,total_copies,is_long_film
film_id,,,,,,,,,,,,
1,academy dinosaur,86,a epic drama of a feminist and a mad scientist...,"deleted scenes,behind the scenes",PG,6,0.99,20.99,english,documentary,8,no
2,ace goldfinger,48,a astounding epistle of a database administrat...,"trailers,deleted scenes",G,3,4.99,12.99,english,horror,3,no
3,adaptation holes,50,a astounding reflection of a lumberjack and a ...,"trailers,deleted scenes",NC-17,7,2.99,18.99,english,documentary,4,no
4,affair prejudice,117,a fanciful documentary of a frisbee and a lumb...,"commentaries,behind the scenes",G,5,2.99,26.99,english,horror,7,no
5,african egg,130,a fast-paced documentary of a pastry chef and ...,deleted scenes,G,6,2.99,22.99,english,family,3,yes
6,agent truman,169,a intrepid panorama of a robot and a boy who m...,deleted scenes,PG,3,2.99,17.99,english,foreign,6,yes
7,airplane sierra,62,a touching saga of a hunter and a butler who m...,"trailers,deleted scenes",PG-13,6,4.99,28.99,english,comedy,5,no
8,airport pollock,54,a epic tale of a moose and a girl who must con...,trailers,R,6,4.99,15.99,english,horror,4,no
9,alabama devil,114,a thoughtful panorama of a database administra...,"trailers,deleted scenes",PG-13,3,2.99,21.99,english,horror,5,no
10,aladdin calendar,63,a action-packed tale of a man and a lumberjack...,"trailers,deleted scenes",NC-17,6,4.99,24.99,english,sports,7,no

# Comprobamos que los tipos de datos que tiene nuestra tabla son correctos

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 958 entries, 1 to 1000
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             958 non-null    object
 1   film_duration     958 non-null    int64
 2   description       958 non-null    object
 3   special_features  958 non-null    object
 4   rating            958 non-null    object
 5   rental_duration   958 non-null    int64
 6   rental_rate       958 non-null    float64
 7   replacement_cost  958 non-null    float64
 8   language          958 non-null    object
 9   category          958 non-null    object
 10  total_copies      958 non-null    int64
 11  is_long_film      958 non-null    object
dtypes: float64(2), int64(3), object(7)
memory usage: 97.3+ KB